/* The print styles
*/

#Header {
  display: none;
}

#Main {
  }

#LeftBlocks {
  display: none; }

#RightBlocks {
  display: none; }

#Footer {
  }

.nodeRollup {
  display: none;
}

a {
  text-decoration: none;
  color: #008;
  font-weight: 700; }

.nodeTitle {
  font-size: 160%; }

.nodeCredits {
  font-size: 80%; }

.nodeLinks {
  display: none; }
