body                 { color: #000; background-color: #fff;
                       margin: 0; padding: 0;
                       font-family: verdana, arial, helvetica, sans-serif;
                           /*  Font size in ems. If you want to change things, just change this. */
                       font-size: 76%;
                           /*  Funny things happens at 75% and lower. opera goes to a nice small size,
                               but moz and ie pc change almost not at all. Seems 76% is as small as
                               you can go and stay the same across browsers. poop.
                            */
                       background-image: url(background.jpg);
                       background-repeat: no-repeat;
                     }

h1                   { font-size: 2.0em; font-weight: normal; margin-top: 0em; margin-bottom: 0em; }
h2                   { font-size: 1.7em; margin: 1.2em 0em 1.2em 0em; font-weight: normal; }
h3                   { font-size: 1.4em;  margin: 1.2em 0em 1.2em 0em; font-weight: normal; }
h4                   { font-size: 1.2em;  margin: 1.2em 0em 1.2em 0em; font-weight: bold; }
h5                   { font-size: 1.0em;  margin: 1.2em 0em 1.2em 0em; font-weight: bold; }
h6                   { font-size: 0.8em;  margin: 1.2em 0em 1.2em 0em; font-weight: bold; }

img                  { border: 0; }

ol, ul, li           { font-size: 1.0em;  margin-top: 0.5em; margin-bottom: 1em; }

p                    { font-size: 1.0em;  line-height: 1.8em;  margin: 1.2em 0em 1.2em 0em; }

li > p               { margin-top: 0.2em; }

pre                  { font-family: monospace; font-size: 1.0em; }
                     /*  moz 1.0/1.1/1.2.1, net 7.0/7.01 make this way too small, but I'm
                         not going to go larger because monospace tends to run you into
                         overflow pretty quickly. prior moz and net are okay.
                      */
              
strong, b            { font-weight: bold; }

#Header              { }

#MainNone            { margin: 0 0 0 0; line-height: 1.25em; }
#MainLeft            { margin: 0 0 0 20em; line-height: 1.25em; }
#MainRight           { margin: 0 20em 0 0; line-height: 1.25em; }
#MainBoth            { margin: 0 20em 0 20em; line-height: 1.25em; }

#LeftBlocks          { position: absolute; top: 5em; left: 0; width: 18em; margin: 0 0 0 1em; font-family: Tahoma; }
#RightBlocks         { position: absolute; top: 5em; right: 0; width: 18em; margin: 0 0 0 1em; font-family: Tahoma; }

#Footer              { color: #888;
                       clear: both;
                       font-size: 70%;
                       text-align: center;
                       width: 100%;
                       margin-top: 2ex;
                     }

#paddinghalf         { padding: 0.5ex; }

.menu                { padding: 0 0 0 0; }

a                    { color: #369; text-decoration: none; }

a:hover              { color: #f00; text-decoration: underline; }

.narrow1             { line-height: 1.3em; }
.narrow2             { line-height: 1.5em; }

.headTitle           { color: #ccc;
                       background-color: #369;
                       font-family: Tahoma, Verdana;
                       font-size: 150%;
                       padding: 0.5ex 1ex;
                     }

.headTitle a         { color: #fff; }
.headTitle a:hover,
.headTitle a:visited { color: #fff; text-decoration: none; }

.headLinks           { color: #888;
                       background-color: #ccc;
                       font-family: Verdana;
                       padding: 0.25ex 1ex;
                       border-top: #000 2px solid;
                       border-bottom: #888 1px solid;
                     }
              
.headLinks a         { color: #000; font-weight: normal; font-size: 80%; }
.headLinks a:hover   { color: #369; }

.block               { margin: 1ex; }

.node                { margin: 1ex; }

.node p              { margin: 0; padding: 0em 0em 1em 0em; }

.nodeTitleBar        { color: #fff; background-color: #369; min-height: 18px; }

.nodeTitle           { padding: 0.2ex 1ex 0.5ex 1ex; font-variant: small-caps; font-family: Tahoma; }
.nodeTitle a         { color: #fff; }

.nodeCredits         { color: #aac; font-size: 80%; padding: 0.5ex 1ex; float: right; }
.nodeCredits a       { color: #aac; }
.nodeCredits a:hover { color: #fff; text-decoration: none; }

.nodeRollup          { float: right; padding: 2px 1px 0px 0px; }
.nodeRollup img      { border: 0px; padding: 0px; margin: 0px; }

.nodeContents        { /* -moz-opacity: 85%; */ /* this seems to have some bugs */
                       background-color: #eee;
                       font-size: 1.0em;
                       padding: 1ex;
                       border-left: 1px #888 solid;
                       border-right: 1px #888 solid;
                       border-bottom: 1px #888 solid;
                     }

.nodeTaxonomy        { font-size: 80%; padding: 0.25ex 0ex 1ex 0ex; }

.nodeLinks           { font-size: 80%; clear: both; }

hr                   { color: #888; height: 1px; background-color: #888; }

.poll-foreground     { background-color: #888; }
.poll-background     { background-color: #fff; }

.block-list          { padding-left: 1.0em;
                       margin-left: 0em;
                       list-style-image: url("misc/menu-collapsed.gif");
                     }
